body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

p {
    margin: 0px;
    font-family: "Roboto", serif;
    color: gray;
}

.topbgcontain {
    background-color: #0891B2;
    width: 100vw;
    height: 150px;
    position: absolute;
}

.topbg {
    background-color: #0891B2;
    height: 400px;
    width: 110vw;
    position: absolute;
    transform-origin: center;
    transform: rotate(352deg) translateY(-110px) translateX(-50px);
}

.photoandabtme > picture > .imgcontain > img {
    width: 350px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
    position: relative;
}

picture > h2 {
    position: absolute;
}

.photoandabtme {
    width: fit-content;
    display: flex;
    align-items: center;
    z-index: 10;
}

.iconcontain > img {
    width: 100%;
    transition: transform 0.2s;
    margin-left: 10px;
}

.iconcontain > img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.aboutme {
    min-height: 275px;
    padding-left: 15px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.aboutme > p {
    margin-top: 20px;
}

.aboutme > h1 {
    margin-bottom: 0px;
    font-family: "Playfair Display", serif;
    font-weight: lighter;
}

.imgcontain {
  position: relative;
  text-align: center;
  color: white;
}

.imgcontain > h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.iconcontain {
    display: flex;
    max-width: fit-content;
    align-self: end;
    margin-top: 95px;
    margin-bottom: 10px;
}

.iconcontain > img {
    max-width: 30px;
    max-height: 30px;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

section > div > h1 {
    font-size: 35px; 
    margin: 10px;
}

section > div:first-of-type {
    min-width: 972px;
    display: flex;
}

.projectbox {
    max-width: 300px;
    padding-bottom: 30px;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
}

.projectbox > picture > img {
    background-color: orange;
    min-width: 300px;
    min-height: 250px;
}

.projecttext {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.projects {
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 100px;
}

.projecticonsandtitleandtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projecticonsandtitleandtitle > h3 {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
}

.projecticons {
    display: flex;
    width: 60px;
}

.projecticon {
    max-width: 25px;
    max-height: 25px;
    margin-right: 10px;
    transition: transform 0.2s;
}

.projecticon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    background-color: #0891B2;
    color: white;
}

.footertext > h1 {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
}

.footertext > p {
    color: white;
}

.lefthalf {
    grid-column: 1/2;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.lefthalf > .footertext > h1 {
    margin-top: 0px;
}

.footertext > p:first-of-type {
    margin-bottom: 20px;
}

.footericons {
    max-width: 50px;
    max-height: 50px;
    display: flex;
}

.footericon {
    margin-right: 20px;
    transition: transform 0.2s;
}

.footericon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.righthalf {
    grid-column: 2/3;
    display: grid;
    justify-content: end;
}

.righthalf > picture > img {
    background-color: burlywood;
    width: fit-content;
    height: 400px;
}

.emailandphone {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
}

.phonenumber {
    display: flex;
    align-items: center;
}

.email {
    display: flex;
    grid-row: 2/3;
    align-items: center;
}

.email > p, .phonenumber > p {
    max-height: 18px;
    color: white;
}

.email > img, .phonenumber > img {
    height: 30px;
    width: 30px;
    margin-right: 6px;
}

.address > p {
    color: white;
}



